.rList{
  max-width: 1024px;
}

.rListItem{
  flex:1;
  border-radius: 10px;
  overflow: hidden;
  cursor: pointer;
}

.rListImg{
  width: 100%;
  height: 150px;
  object-fit: cover;
}

.rListTitles>h1{
  font-size: 18px;
  color: #444;
}

.rListTitles>h2{
  font-size: 14px;
  font-weight: 300;
}

 .slick-slide > div {
	margin: 0 16px;
}

.slick-list {
	margin: 0 -16px;
}

.slick-prev:before, .slick-next:before {
  color: #000;
}