.fr {
  width: 100%;
  max-width: 1024px;
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.frItem{
  flex: 1;
  gap: 10px;
  display: flex;
  flex-direction: column;
}

.frImg{
  width: 100%;
  height: 250px;
  object-fit: cover;
}

.frName{
  color: #333;
  font-weight: bold;
}

.frCity{
  font-weight: 300;
}

.frPrice{
  font-weight: 500;
}

.frRating>button{
  background-color: #E98EAD;
  color: white;
  border: none;
  padding: 4px;
  margin-right: 10px;
  font-weight: bold;
  border-radius: 25px;
}

.frRating>span{
  font-size: 14px;
}